.slick-next:before, .slick-prev:before {
  color: #000 !important;
}

.slick-next:before, [dir=rtl] .slick-prev:before {
  content: ' \25b6' !important;
  font-size: 25px !important;
}

.slick-prev:before {
  content: ' \25c0' !important;
  font-size: 25px !important;
}

.slick-next, .slick-prev {
  opacity: 0.8 !important;
}

.slick-dots {
  opacity: 0.8 !important;
}

