p {
  margin-bottom: 12px;
}

.slick-slider div {
  cursor: defualt !important;
}

.slick-next:before, .slick-prev:before {
  color: #000 !important;
}

.slick-next:before, [dir=rtl] .slick-prev:before {
  content: ' \25b6' !important;
  font-size: 25px !important;
}

.slick-prev:before {
  content: ' \25c0' !important;
  font-size: 25px !important;
}

.slick-next, .slick-prev {
  opacity: 0.8 !important;
}

.slick-dots {
  opacity: 0.8 !important;
}

@media (max-width: 659px) {
  .slick-dots {
    display: flex !important;
  }
}

@media (max-width: 450px) {
  .slick-dots {
    width: 96% !important;
  }
}

@media (max-width: 659px) {
  .slick-dots li {
    margin: auto !important;
  }
}

@media (max-width: 450px) {
  .slick-dots li {
    padding: 0px !important;
    width: 15px !important;
  }
}


@media (max-width: 450px) {
  .slick-dots li button {
    padding: 0px !important;
  }
}



@font-face {
  font-family: 'Gotham Narrow';
  src: url("https://www.aucklandmuseum.com/Client/CSS/AucklandMuseum/fonts/gotham-narrow-ssm-700.woff") format("woff");
}

@font-face {
  font-family: 'Gotham Narrow Regular';
  src: url("https://www.aucklandmuseum.com/Client/CSS/AucklandMuseum/fonts/GothamNarrow-Regular.woff") format("woff");
}


body {
  font-family: 'Gotham Narrow';
}

.container {
  max-width: 90%;
  margin: auto;
}

@media (max-width: 515px) {
  .container {
    max-width: 80%;
  }
}

#date {
  font-family: "Gotham Narrow Regular";
}

::before {
  font-size: 10px !important;
}

@media (max-width: 659px) {
  ::before {
    font-size: 5px !important;
  }
}

.text-grid {
  text-align: center;
  margin: 5% auto auto;
  display: grid;
  grid-column-gap: 10%;
  text-align: 'center';
  margin: '5% auto auto auto';
}

.col1 {
  font-size: 18px;
  grid-row: 1;
  grid-column: 1;
  margin: auto;
}

@media (max-width: 659px) {
  .col1 {
    font-size: 14px;
  }
}

.title1 {
  font-weight: 900;
  margin-bottom: 10px;
  float: left;
}

.date1 {
  margin-bottom: 10px;
  float: left;
  margin-left: 5px;
}

.credit1 {
  font-family: 'Gotham Narrow Regular';
  font-size: 0.8em;
  margin-bottom: 10px;
  grid-row: 2;
  grid-column: 1;
}

@media (max-width: 659px) {
  .credit1 {
    font-size: 9px;
  }
}

.col2 {
  font-weight: 900;
  font-size: 18px;
  bottom: 0px;
  grid-row: 1;
  grid-column: 2;
  float: right;
}


@media (max-width: 659px) {
  .col2 {
    font-size: 14px;
  }
}

.credit2 {
  font-size: 0.8em;
  grid-row: 2;
  grid-column: 2;
  font-family: 'Gotham Narrow Regular'
}

@media (max-width: 659px) {
  .credit2 {
    font-size: 9px;
  }
}
